<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>Секретный чат</h1>
         <ul id='messages'>
        </ul>
        <form action="" enctype="multipart/form-data"  onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off"/>
            <input type="file" id="file" name="file" />
            <input type="text" id="key" autocomplete="off"/>
            <input type="checkbox" id="signature" checked>
            <button>Отправить</button>
        </form>
        <script>
            var ws = new WebSocket("ws://localhost:8000/ws");
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                var signature = document.getElementById("signature")
                //var file = document.getElementById("file")[0]
                var key = document.getElementById("key");
                //var reader = new FileReader();
                //reader.readAsDataURL(file);
                //reader.addEventListener('load', (e) => {
                  // e.target.result – содержимое файла
                //});
                var data = {
                    "key": key.value,
                    "message": input.value,
                    "signature": signature.value,
                    //"file": e.target.result
                };
                console.log(data)
                ws.send(JSON.stringify(data));
                event.preventDefault();
            }
        </script>
    </body>
</html>