<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
        <style>
           H1 {
            text-align:center;
            font-size: 220%;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #333366;
           }
           form {
            display:table;
            margin:auto;
            }
            ul#messages {
            padding: 50px 450px;
            }
         </style>
    </head>
    <body>
        <h1>Секретный чат</h1>
        <ul id='messages'></ul>
        <form name="messageForm">
            <p><textarea name="message" id="messageText" cols="100" rows="10" placeholder="Текст сообщения"></textarea></p>
            <p><input type="file" id="file" name="file" /></p>
            <p> Подписать  <input type="checkbox" id="signature" checked></p>
            <input type="submit" id="sendForm" value="Отправить" />
        </form>

        <script src="/static/main.js"></script>
    </body>
</html>